{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
	"plugins": [
		"stylelint-order"
	],
	"rules": {
		declaration-colon-newline-after: null,
		indentation: null,
		"order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-alphabetical-order": true
	}
}
